.main-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
  background-color: #2b2b2b ;
}

.header-logo {
  height: 100%;
  width: 40%;
  background-image: url(../../assets/images/header-logo.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 180px;
  transition: all 1s ease;
}

.main-nav {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

.main-nav ul {
  width: 70%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  transition: all 1s ease;
}

.main-nav a {
  text-decoration: none;
  color: #000000;
  cursor: none;
}


/*MEDIA QUERIES*/

@media (max-width: 1248px) {
  .main-nav ul {
    width: 85%;
  }
}

@media (min-width: 780px) {
  .burger {
    display: none;
  }
}

@media (max-width: 780px) {
  .header-logo {
    width: 65%;
    background-position: left;
    background-size: auto 165px;
  }
  .main-nav {
    width: 35%;
  }
  .main-nav ul {
    display: none;
  }
  .burger {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: -50%;
    background-image: url(../../assets/images/burger-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 30px;
    transition: all 1s ease;
  }
}

@media (max-width: 462px) {
  .header-logo {
    background-size: auto 160px;
    width: 80%;
  }
  .main-nav {
    width: 20%;
  }
  .burger {
    margin-right: 0;
    background-size: auto 28px;
  }
}

@media (max-width: 354px) {
  .header-logo {
    background-size: auto 150px;
  }
}

@media (hover: none), (pointer: coarse) {
  #cursor {
    display: none;
  }
}
