.hub {
  width: calc(100% - 20px - 20px);
  height: calc(100% - 100px);
  background: #202020;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.projects { grid-area: 1 / 1 / 5 / 3; }
.stack { grid-area: 5 / 1 / 7 / 3; }
.certificates { grid-area: 1 / 3 / 3 / 5; }
.experience { grid-area: 3 / 3 / 7 / 5; }
.education { grid-area: 1 / 5 / 3 / 6; }
.about_me { grid-area: 3 / 5 / 7 / 6; }
.linkedin { grid-area: 1 / 6 / 3 / 7; }
.coursera { grid-area: 3 / 6 / 5 / 7; }
.github { grid-area: 5 / 6 / 6 / 7; }
.facebook { grid-area: 6 / 6 / 7 / 7; }

.projects {
  background: #171717;
  border-radius: 2%;
}

.stack {
  background: #171717;
  border-radius: 2%;
}

.certificates {
  background: #171717;
  border-radius: 2%;
}

.experience {
  background: #171717;
  border-radius: 2%;
}

.education {
  background: #171717;
  border-radius: 2%;
}

.about_me {
  background: #171717;
  border-radius: 2%;
}

.linkedin {
  background: #171717;
  border-radius: 2%;
}

.coursera {
  background: #171717;
  border-radius: 2%;
}

.github {
  background: #171717;
  border-radius: 2%;
}

.facebook {
  background: #171717;
  border-radius: 2%;
}

@media (max-width: 1248px) {
  .hub {
    width: calc(100% - 10px - 10px);
    height: calc(100dvh - 60px - 10px - 10px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 780px) {
  .hub {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .projects { grid-area: 1 / 1 / 3 / 2; }
  .stack { grid-area: 1 / 2 / 2 / 3; }
  .certificates { grid-area: 2 / 2 / 3 / 3; }
  .experience { grid-area: 3 / 2 / 5 / 3; }
  .education { grid-area: 3 / 1 / 4 / 2; }
  .about_me { grid-area: 4 / 1 / 5 / 2; }
  .linkedin { grid-area: 5 / 1 / 6 / 2; }
  .coursera { grid-area: 5 / 2 / 6 / 3; }
  .github { grid-area: 6 / 1 / 7 / 2; }
  .facebook { grid-area: 6 / 2 / 7 / 3; }
}
