
.mp-nav {
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

.mp-nav ul {
    margin-top: 0;
    margin-left: 30px;
    list-style: none;
}

.mp-nav li {
    font-family: Raleway, sans-serif;
    font-size: 1.5rem;
}

.mp-nav li + li {
    margin-top: 15px;
}

.mp-nav a {
    text-decoration: none;
    color: #000000;
}

.dropdown-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
}