.main-header {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Space Mono", monospace;
}

.header-logo {
    height: 100%;
	width: 40%;
    background-image: url(../common/images/header-logo.svg);
    background-repeat: no-repeat;
    background-position: left;
	background-size: auto 180px;
	transition: all 1s ease;
	margin-left: 2%;
}

.main-nav {
	width: 60%;
	height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-nav ul {
	width: 70%;
    list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    padding: 0;
	transition: all 1s ease;
}

/*MEDIA QUERIES*/

@media (max-width: 1248px) {
	.header-logo {
		margin-left: 2%;
	}
	.main-nav ul {
		width: 90%
	}
}

@media (max-width: 780px) {
	.main-header {
		justify-content: flex-start;
	}
    .header-logo {
		width: 70%;
		background-position: right;
		background-size: auto 165px;
		transition: all 1s ease;
    }
    .main-nav {
        display: none;
    }
}

@media (max-width: 400px) {
	.header-logo {
		background-size: auto 150px;
		transition: all 1s ease;
	}

}

@media (hover: none), (pointer: coarse) {
	#cursor {
		display: none;
	}
}