.main-header {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Space Mono", monospace;
}

.header-logo {
    height: 100%;
	width: 40%;
    background-image: url(../common/images/header-logo.svg);
    background-repeat: no-repeat;
    background-position: left;
	background-size: auto 180px;
	transition: all 1s ease;
}

.main-nav {
	width: 60%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav ul {
	width: 80%;
    list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    padding: 0;
	transition: all 1s ease;
}

/*MEDIA QUERIES*/

@media (max-width: 1248px) {
	.main-nav ul {
		width: 95%
	}
}

@media (max-width: 768px) {
    .header-logo {
		width: 50%;
		background-position: center;
		transition: all 1s ease;
    }
    .main-nav {
        display: none;
    }
}

@media (hover: none), (pointer: coarse) {
	#cursor {
		display: none;
	}
}