.main-banner {
  width: 100%;
  min-height: calc(100svh - 140px);
  background-image: url(../../assets/images/background-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}



