.main-banner {
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/images/background-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 780px) {
  .main-banner {
    background: center / contain no-repeat url(../../../assets/images/mobile-background-logo.svg);
    background-size: 130%;
  }
}
