.scroller-section {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lines {
	width: 200px;
	height: 2px;
	background-color: #FF0028;
	transition: 1s ease;
}

.scroll-down-button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	flex-shrink: 0;
	transition: 1s ease;
	animation: bounce 2s ease-in-out infinite;
	will-change: transform;
}

.scroll-down-button {
	text-decoration: none;
	cursor: none;
}



#scroller-section2 {
	background: #202020;
}

#scroll-down-button1 {
	background-image: url(../common/images/scroll-down-button-wa.svg);
	margin: 50px;
}

#scroll-down-button2 {
	background-image: url(../common/images/scroll-down-button-ba.svg);
	margin: 25px;
}

#scroll-up-button1 {
	background-image: url(../common/images/scroll-up-button-ba.svg);
	margin: 25px;
}


@keyframes bounce {
	0%, 100% { transform: translateY(0); }
	50%      { transform: translateY(-10px); }
}

@media (max-width: 1248px) {
}

@media (max-width: 780px) {
	.lines {
		width: 150px;
	}
	.scroll-down-button {
		width: 25px;
		height: 25px;
		margin: 35px;
	}
}

@media (max-width: 462px) {
	.lines {
		width: 100px;
	}
	.scroll-down-button {
		margin: 25px;
	}
}