
html, body {
    cursor: none;
    background: #000;
}


#cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999999;

    mix-blend-mode: difference;

    transition: transform 140ms ease, width 140ms ease, height 140ms ease, border-width 140ms ease;
    will-change: transform;
}

#cursor.is-pointer {
    transform: translate(-50%, -50%) scale(1.6);
}

#cursor.is-down {
    transform: translate(-50%, -50%) scale(1.2);
}