
.mp-header {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-on-white {
    height: 280px;
    transition: height 0.8s ease;
    margin-top: 15px;
    margin-left: 30px;
}


@media (max-width: 1000px) {
    .logo-on-white {
        height: 250px;
    }
}


