
.mp-header {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 280px;
    margin-top: 15px;
    margin-left: 30px;
    transition: height 1s ease;
}


@media (max-width: 1000px) {
    .mp-header {
        justify-content: center;
    }

    .logo {
        height: 250px;
    }
}


