.main-banner {
	width: 100%;
	height: calc(100vh - 160px);
	background-image: url(../common/images/background-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
}



@media (max-width: 768px) {
	.main-banner {
		background: center / contain no-repeat url(../common/images/mobile-background-logo.svg);
		background-size: 130%;
	}
}