/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  background: #e8e8e8;
  cursor: none;
  scroll-behavior: smooth;
}

body.no-scroll,
html.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: #FF0028;
  border-radius: 10px;
}

@media (hover: none), (pointer: coarse) {
  body {
    cursor: auto;
  }
}
